
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/STMinerDoc.iml
.idea/vcs.xml
.idea/deployment.xml
build/doctrees/API/API.doctree
build/doctrees/environment.pickle
build/doctrees/index.doctree
build/doctrees/Install/Install.doctree
build/doctrees/Introduction/Introduction.doctree
build/doctrees/Tutorial/Tutorial.doctree
build/html/.buildinfo
build/html/_sources/API/API.md.txt
build/html/_sources/index.rst.txt
build/html/_sources/Install/Install.md.txt
build/html/_sources/Introduction/Introduction.md.txt
build/html/_sources/Tutorial/Tutorial.md.txt
build/html/_static/_sphinx_javascript_frameworks_compat.js
build/html/_static/basic.css
build/html/_static/css/fonts/fontawesome-webfont.svg
build/html/_static/css/theme.css
build/html/_static/doctools.js
build/html/_static/documentation_options.js
build/html/_static/fig1.png
build/html/_static/jquery.js
build/html/_static/js/html5shiv-printshiv.min.js
build/html/_static/js/html5shiv.min.js
build/html/_static/language_data.js
build/html/_static/searchtools.js
build/html/_static/sphinx_highlight.js
build/html/API/API.html
build/html/genindex.html
build/html/index.html
build/html/Install/Install.html
build/html/Introduction/Introduction.html
build/html/objects.inv
build/html/search.html
build/html/searchindex.js
build/html/Tutorial/Tutorial.html
